<%= javascript_include_tag "jscroll" %>
<%= stylesheet_link_tag "keytweets", :media => "all" %>
<h1>Requested tweets</h1>
<p class="desc">here is the tweet list with <i>keyword</i> <b><%= @keyword %></b></p>
<ol style="list-style: none" class="scroll mainol">
	<% @tweet.collect do |a| %>
		<li class="well text-info"><b><%= a.user.screen_name %></b> : <%= highlight(a.text,@keyword) %></li>
	<% end %>	
	<a href='keytweets/custompage?id=0&key=<%= @keyword %>'>load more</a>
</ol>

<script type="text/javascript">
	$('.scroll').jscroll({
		autoTrigger : false
	});
</script>